<p id="notice"><%= notice %></p>

<h1>Toy app</h1>

<ul>
  <li><%= link_to "Schools", schools_path %></li>
  <li><%= link_to "Pupils", pupils_path %></li>
  <li><%= link_to "Pupil measurements", pupil_measurements_path %></li>
</ul>
